<div>
  <div>
    <div class="control-panel">
      <button class="btn btn-xs"
              ng-disabled="0"
              ng-click="ctrl.newMetroLine();">New Metro</button>

      <div class="btn-group btn-group-xs">
        <button class="btn btn-xs"
                ng-class="{'btn-primary': ctrl.inputMode == 'draw'}"
                ng-click="ctrl.draw();">Draw</button>
        <button class="btn btn-xs"
                ng-class="{'btn-primary': ctrl.inputMode == 'edit'}"
                ng-click="ctrl.editMetroLine();">Refine</button>
      </div>
      <button class="btn btn-xs"
              ng-disabled="0"
              ng-click="ctrl.addStation()">Add Station</button>
    </div>
    <div class="control-panel ng-hide"
         ng-show="ctrl.inputMode == 'draw'">
      <div class="btn-group btn-group-xs">
        <button class="btn btn-xs"
                ng-class="{ 'btn-primary': ctrl.pathType == 'straight' }"
                ng-click="ctrl.useStraightPath();">Straight</button>
        <button class="btn btn-xs"
                ng-class="{ 'btn-primary': ctrl.pathType == 'curly' }"
                ng-click="ctrl.useCurlyPath();">Curly</button>
      </div>
      <button class="btn btn-xs"
              ng-disabled="0"
              ng-click="ctrl.flipLast();">flip</button>
    </div>
    <div class="control-panel input-group-sm ng-hide"
         ng-show="ctrl.inputMode == 'edit'">
      <!--
      <pre>{{ctrl.currentEditJoint.data | json}}</pre>
      -->
      <label>
      x1 <input type="number" step="20" ng-model="ctrl.currentEditJoint.data.x1"
               readonly
               class="form-control"
               ng-change="ctrl.applyLinePathChange()">
      </label>
      <label>
      y1 <input type="number" step="20" ng-model="ctrl.currentEditJoint.data.y1"
               readonly
               class="form-control"
               ng-change="ctrl.applyLinePathChange()">
      </label>
      <label>
      x2 <input type="number" step="20" ng-model="ctrl.currentEditJoint.data.x2"
               readonly
               class="form-control"
               ng-change="ctrl.applyLinePathChange()">
      </label>
      <label>
      y2 <input type="number" step="20" ng-model="ctrl.currentEditJoint.data.y2"
               readonly
               class="form-control"
               ng-change="ctrl.applyLinePathChange()">
      </label>
      <label>type</label>
        <div class="btn-group btn-group-xs">
          <button class="btn btn-xs"
                  ng-class="{ 'btn-primary': ctrl.currentEditJoint.data.type == 'straight' }"
                  ng-click="
                    ctrl.currentEditJoint.data.type = 'straight';
                    ctrl.applyLinePathChange();
                  ">Straight</button>
          <button class="btn btn-xs"
                  ng-class="{ 'btn-primary': ctrl.currentEditJoint.data.type == 'curly' }"
                  ng-click="
                    ctrl.currentEditJoint.data.type = 'curly';
                    ctrl.applyLinePathChange();
                  ">Curly</button>
        </div>
      <label>
      flipped
        <input type="checkbox" ng-model="ctrl.currentEditJoint.data.flipped"
               ng-true-value="true" ng-false-value="false"
               ng-change="ctrl.applyLinePathChange()">
      </label>
      split
        <button class="btn btn-xs"
                ng-disabled="0"
                ng-click="ctrl.splitLinePath();">Split</button>
    </div>
  </div>
</div>
<div>

</div>
<div>
  <h1>Lines</h1> 
  <div ng-repeat="line in ctrl.metroLines track by $index">
    <form class="form-inline">
      <div class="input-group-sm">
        <label>Id {{line.id}}</label>
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Yamanote Line">
        <label>Color</label>
        <input type="color">
        rgba
      </div>
    </form>
    <div class="panel panel-default">
      <div class="panel-body">
        <div ng-repeat="station in line.stations track by $index">
          <div class="station"></div>
          <div>Id {{station.id}}</div>
          <div>Name</div>
          <div>Color</div>
          Position
            <input type="range" step="0.1" min="0" max="100"
                   style="width: 200px;"
                   ng-model="station.position"
                   ng-change="ctrl.moveStation(line, station)">%
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<pre>{{ctrl.metroLines | json}}</pre>
-->
